@charset "UTF-8";

:root {
  --main-background-color: #000;
  --main-font-family: 'Montserrat-Regular', sans-serif;
  --secondary-font-family: 'Montserrat-Black', sans-serif;
  --main-font-color: #fff;
  --main-notice-color: yellow;
  --main-input-color: #f8e19e;
  --main-button-background-color: linear-gradient(to bottom, rgba(204,0,0,1) 0%,rgba(255,51,51,1) 0%,rgba(204,0,0,1) 100%,rgba(255,51,51,1) 100%,rgba(204,0,0,1) 100%);
  --main-button-font-family: 'Montserrat-Bold';
  --main-modal-font-color: midnightblue;
  --main-modal-bg-color: lightblue;
  --weekly-tabs-bg-color: midnightblue;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font-family);
  color: var(--main-font-color);
  background-color: var(--main-background-color);
}

a,
.highlight {
  color: var(--main-notice-color);
}

a:hover {
  text-decoration: none;
}

.mainContent {
  background-image: url('../../images/common/desktop-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}

.mainContent section {
  width: 88%;
  padding: 50px 0 20px;  
  margin: 0 auto 1.5em;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 30px;
  color: var(--main-font-color);
  font-size: 2em;
  text-transform: uppercase;
  font-family: var(--secondary-font-family);
}

.sectionTitle:hover {
    text-decoration: none;
    color: var(--main-font-color);
}

/* TNC */
.mainContent .tncSection {
  margin-bottom: 0;
  padding-bottom: 50px;
}

.tnc-btn {
    display: block;
    text-align: center;
}

.tncSection ol {
  font-size: 15px;
  margin: 0 auto;
}

.tncSection li {
    margin: 10px 0;
}

.tncSection ol li a {
  color: var(--main-notice-color);
  text-decoration: underline;
}

/* Modal */

.modal-dialog .close {
  position: absolute;
  top: 2px;
  right: 14px;
  float: none;
  color: var(--main-modal-font-color);
  font-size: 2em;
  opacity: 1;
  text-shadow: none;
  z-index: 1;
}

.modal .modal-content {
  box-shadow: 1px 1px 20px white;
  color: var(--main-modal-font-color);
  background-color: var(--main-modal-bg-color);
  text-align: center;
}

.modal-footer {
  justify-content: center;
  border-top: 0;
}


/* ADDITIONAL CSS FOR HEADER LANGUAGE / TO BE ADDED ON HEADER.CSS on COMMON */
.nav-item .lang-kh {
  background: url(../../images/common/flags.png) no-repeat -263px 4px;
  width: 26px;
  height: 26px;
  display: block;
  float: left;
  margin: 0 10px 0 0px;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 3.5rem 0.25rem 1.2rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

